<div class="container">
  <h2>ユーザー一覧</h2>
  <% @users.each do |user| %>
    <div class="container-child col-md-2 col-sm-4 col-xs-6 ">

      <%= link_to user_path(user.id) do %>
          <%= profile_img(user) %><br>
          <%= user.email %>
      <% end %>
      <% if current_user.id != user.id %>
          <p><%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%></p>
          <%= render partial: 'follow_form', locals: { user: user } if signed_in? %>
      <% end %>
    </div>
  <% end %>
</div>
